@use '../../global';

:host {
	position: relative;
}

.dropdown {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	background-color: rgb(var(--highlight), 5%);
	transition: background-color 50ms global.$ease-in-out;
	border-radius: 8px 8px 0 0;
	border-bottom: 2px solid rgb(var(--secondary));
	
	padding: 0.4em 0.6em;
	height: 2em;
	font-size: 1em;
	cursor: pointer;
}
.dropdown:hover {
	background-color: rgb(var(--highlight), 8%);
}
.dropdown-arrow {
	color: rgb(var(--secondary));
	margin-left: 5px;
	margin-right: -8px;
	font-size: 1.5em;
}
.placeholder {
	opacity: 0.6;
}
.dropdown-options {
	position: absolute;
	z-index: 1;
	overflow: scroll;
	max-height: 0;
	background-color: rgb(var(--background-1));
	border-radius: 0 0 3px 3px;
	box-shadow: 0 2px 7px rgb(0, 0, 0, var(--shadow-opacity));
	min-width: 100%;
}
