select {
    appearance: none;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    outline: none;
    font-family: roboto;
    font-size: 1em;
    color: white;
    padding: 0.4em 0.6em;
    padding-right: 1.5em;
    cursor: pointer;
}
select:invalid {
    color: #aaa;
}
.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}
.select::after {
    content: "";
    width: 0.6em;
    height: 0.4em;
    margin-right: 0.6em;
    background-color: var(--secondary);
    clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
    justify-self: end;
}
select, .select::after {
    grid-area: select;
}