:root {
    --hover-alpha: 0.08;
    --click-alpha: 0.15;
    --accent: rgb(246, 255, 0);
    --hover: rgba(246, 255, 0, var(--hover-alpha));
    --click: rgba(246, 255, 0, var(--click-alpha));
    --secondary: rgb(24, 134, 237);
    --secondary-hover: rgba(24, 134, 237, var(--hover-alpha));
    --secondary-click: rgba(24, 134, 237, var(--click-alpha));
    --red: rgb(255, 24, 105);
    --red-hover: rgba(255, 24, 105, var(--hover-alpha));
    --red-click: rgba(255, 24, 105, var(--click-alpha));
}

button {
    background-color: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;
    
    font-family: roboto;
    font-size: 0.8em;

    /* transition: background-color 50ms ease-in-out; */
}

button:hover {
    background-color: var(--hover);
}
button:active {
    background-color: var(--click);
}
