:host {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	padding: 1em;
}

#target-language {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
	margin-bottom: 1.2em;
}
h3 {
	margin: 0;
}

#translation-languages {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
	margin-bottom: 1em;
}

#translation-language-list:not(:empty) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em 1.5em;
	margin-bottom: 0.5em;
}
#translation-language-list > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

.remove-translation-language-button {
	border-radius: 50%;
	padding: 4px;
	box-shadow: none;
}

#download-button {
	margin-top: 1em;
	align-self: center;
}
