
input {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accent);
    width: 50px;

    font-family: roboto;
    font-size: 1em;
}

input::placeholder {
    color: rgba(255, 50, 140, 0.8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.section_header {
    font-size: 0.8em;
    color: #bbb;
}

#container {
    padding: 32px;
    min-width: 400px;
    width: 100%;
}

#task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#task-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}
#task-header p {
    font-size: 1.2em;
    flex-grow: 1;
    margin: 0;
}

#options-button {
    border: none;
    /* border: 1px solid var(--accent); */
    border-radius: 50%;
    padding: 4px;
}
#options-button:hover {
    background-color: #aaa1;
}
#options-button:active {
    background-color: #aaa2;
}
#options-button svg {
    width: 1.5em;
    height: 1.5em;
    color: #aaa;
}

#phrase-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 24px;
}
#phrase-header p {
    flex-grow: 1;
    margin: 0;
}
#phrase-header button {
    font-size: 0.5em;
    padding: 5px 10px;
}

#original-text {
    align-self: center;
    text-align: center;
    padding: 0px 16px;
}
#original-text > p {
    display: inline;
}

#next-button {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 16px;
}

#translations {
    padding: 0px 16px;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 0.7em;
}
li {
    font-size: 0.7em;
}
li + li {
    margin-top: 0.5em;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 0.8em;
    margin-bottom: 16px;
}

#options > div > p {
    margin: 0;
}

#options > p {
    align-self: flex-start;
    /* margin-bottom:  */
}

#options input {
    width: 80px;
    font-size: 0.9em;
}

#add-language-button {
    border-radius: 30%;
    padding: 0;
}
#add-language-button svg {
    color: var(--accent);
    width: 1.5em;
    height: 1.5em;

}
