
input::placeholder {
    color: rgba(255, 50, 140, 0.8);
}

h1 {
    text-align: left;
    margin: 0;
    width: auto;
    flex-grow: 1;
}

#task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 20em;
    width: 100%;
}

#task-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5em;
}

#options-button {
    background-color: transparent;
    color: #aaa;
    border: none;
    border-radius: 50%;
    padding: 0.2em;
    margin: 0;
    margin-right: 0.1em;
    box-shadow: none;
}
#options-button > svg {
    width: 2em;
    height: 2em;
}

#phrase-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    margin-bottom: 24px;
}
#phrase-header h2 {
    flex-grow: 1;
    margin: 0;
}
#phrase-header button {
    font-size: 0.6em;
}

#original-text {
    align-self: center;
    text-align: center;
    padding: 0 1em;
    font-size: 1.4em;
}
#original-text > p {
    display: inline;
}

#next-button {
    align-self: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#translations {
    padding: 0 1em;
    font-size: 1.4em;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 0.7em;
}
li {
    font-size: 0.7em;
}
li + li {
    margin-top: 0.5em;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#options h3 {
    margin-bottom: 0;
}
#options h2 {
    text-align: center;
    width: 100%;
}

#options > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

#options input {
    width: 3em;
}

#add-language-button {
    background-color: transparent;
    color: var(--secondary);
    border-radius: 50%;
    border: 1px solid var(--secondary);
    padding: 0.1em;
}
#add-language-button svg {
    width: 1.5em;
    height: 1.5em;
}

#weight-visualization-header {
    margin-top: 0.5em;
}

#back-button {
    align-self: center;
}
