

@font-face {
    font-family: roboto;
    src: url(../common/Roboto-Regular.ttf);
}

body {
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: rgb(30, 30, 30);
    
    color: white;
    font-family: roboto;
    font-size: 2em;
}

p {
    margin-top: 0;
    margin-bottom: 24px;
}

input {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accent);
    width: 50px;

    font-family: roboto;
    font-size: 1em;
}

input::placeholder {
    color: rgba(255, 50, 140, 0.8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.red_button {
    color: var(--red);
    border: 1px solid var(--red);
    /* border: none; */
}
.red_button:hover {
    background-color: var(--red-hover);
}
.red_button:active {
    background-color: var(--red-click);
}

#container {
    padding: 32px;
    min-width: 400px;
    width: 100%;
}

#task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#task_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}
#task_header p {
    font-size: 1.2em;
    flex-grow: 1;
    margin: 0;
}

#options_button {
    border: none;
    /* border: 1px solid var(--accent); */
    border-radius: 50%;
    padding: 4px;
}
#options_button:hover {
    background-color: #aaa1;
}
#options_button:active {
    background-color: #aaa2;
}
#options_button svg {
    width: 1.5em;
    height: 1.5em;
    color: #aaa;
}

#phrase_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 24px;
}
#phrase_header p {
    flex-grow: 1;
    margin: 0;
}
#phrase_header button {
    font-size: 0.5em;
    padding: 5px 10px;
}

.section_header {
    font-size: 0.8em;
    color: #bbb;
}

#original_text {
    align-self: center;
    text-align: center;
    padding: 0px 16px;
}
#original_text > p {
    display: inline;
}

#next_button {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 16px;
}

#translations {
    padding: 0px 16px;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 0.7em;
}
li {
    font-size: 0.7em;
}
li + li {
    margin-top: 0.5em;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 0.8em;
    margin-bottom: 16px;
}

#options > div > p {
    margin: 0;
}

#options > p {
    align-self: flex-start;
    /* margin-bottom:  */
}

#options input {
    width: 80px;
    font-size: 0.9em;
}

#add_language_button {
    border-radius: 30%;
    padding: 0;
}
#add_language_button svg {
    color: var(--accent);
    width: 1.5em;
    height: 1.5em;

}
