

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 2em;
    /* max-width: 35em; */
    /* width: 100%; */
}
#target-language {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    margin-bottom: 1.5em;
}
h3 {
    margin: 0;
}

#target-language-dropdown-wrapper {
    margin-bottom: 1em;
}
#translation-languages {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

#translation-language-list {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    /* font-size: 0.8em; */
    /* padding-left: 0.8em; */
}
#translation-language-list > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    gap: 0.5em;
    margin-bottom: 1em;
}
/* #translation-language-list > div:last-child {
    margin-bottom: 1em;
} */

.remove-translation-language-button {
    /* border: none; */
    border-radius: 50%;
    padding: 4px;
}

#add-translation-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width:fit-content; */
    gap: 0.5em;
}
#add-translation-language-button {
    background-color: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 50%;
    padding: 4px;
    font-size: 1.3em;
}

#download-button {
    margin-top: 1em;
    align-self: center;
}
