:host {
	min-width: 20em;
	width: 100%;
	max-width: 40em;
	padding: 1em;
}

#phrase-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	width: 100%;
	margin-bottom: 1.2em;

	h2 {
		margin: 0;
	}
	#play-button {
		background-color: oklch(var(--surface-container-low));
		// color: oklch(var(--primary));
		// border:
		border-radius: 50%;
		// box-shadow: none;
		margin-left: 0.3em;
		padding: 0.3em;
		font-size: 1em;	
	}
	#audio-count {
		font-size: 0.7em;
	}
	.bad-button {
		font-size: 0.6em;
	}
}

#original-text {
	align-self: center;
	text-align: center;
	padding: 0 1em;
	font-size: 1.4em;
}
#original-text > p {
	display: inline;
	line-height: 1.4em;
}
#word-input-wrapper {
	display: inline-block;
	position: relative;
}
#word-input-hint {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: oklch(var(--bad));
	// opacity: 0.;
	pointer-events: none;
}
#word-input {
	margin: 0;
	// padding: 0;
	padding: 0 0.25em;
}

#next-button {
	align-self: center;
	margin-top: 1.2em;
	margin-bottom: 1em;
}

#translations {
	padding: 0 1em;
	font-size: 1.4em;
}

ul {
	margin: 0;
	padding: 0;
	margin-left: 0.7em;
}
li {
	font-size: 0.7em;
}
li + li {
	margin-top: 0.5em;
}
