<div class="header-bar">
	<h1>Learn</h1>
	<button appRipple="primary" id="statistics-button" class="outline-button" routerLink="/statistics">
		<span class="material-symbols">bar_chart</span>Statistics
	</button>
	<button appRipple="primary" id="options-button" class="outline-button" routerLink="/options">
		<span class="material-symbols">settings</span>Options
	</button>
</div>

<div class="content">
	<div id="phrase-header">
		<h2>Phrase</h2>
		<button appRipple="primary" 
			id="play-button" 
			class="outline-button material-symbols" 
			(click)="playAudio()"
			[disabled]="!(audioLoader.hasAudio() && isFeedback())">
			volume_up
		</button>
		<div id="audio-count" *ngIf="audioLoader.clips.length > 1 && isFeedback()">
			{{audioLoader.index + 1}}/{{audioLoader.clips.length}}
		</div>
		<button appRipple="bad" class="bad-button" style="margin-left: auto">
			<span class="material-symbols">delete_forever</span>Delete phrase
		</button>
		<button appRipple="bad" class="bad-button">
			<span class="material-symbols">delete_forever</span>Delete word
		</button>
	</div>

	<div id="original-text">
		<p>{{preInputText}}</p>
		<ng-container *ngFor="let wordInput of wordInputs">
			<div class="word-input-wrapper">
				<div class="word-input-hint" [innerHTML]="wordInput.hint"></div>
				<!--If autofocus is applied to multiple elements, the first one will receive focus.-->
				<input #wordInput class="word-input" value="" autocomplete="off"
					[attr.data-index]="wordInput.index"
					[style.width.px]="wordInput.width"
					[style.color]="wordInput.finished ? 'oklch(var(--good))' : 'oklch(var(--on-surface))'"
					[maxlength]="wordInput.word.length"
					[readonly]="wordInput.finished"
					[(ngModel)]="wordInput.inputText"
					(keyup)="handleInputKeyUp($event)"
					(input)="wordInput.hint = ''">
			</div>
			<p>{{wordInput.textAfter}}</p>
		</ng-container>
	</div>
	<!-- <button appRipple id="next-button" (click)="continue()"> -->
	<button appRipple="on-tertiary-container" id="next-button" class="tertiary-button" (click)="continue()">
		{{buttonText}}
	</button>
	<h2>Translations</h2>
	<div id="translations">
		<ul>
			<li *ngFor="let translation of translations">
				{{translation}}
			</li>
		</ul>
	</div>
</div>