:host {
	width: 100%;
	max-width: 500px;
}
h2 {
	text-align: center;
	width: 100%;
	margin-bottom: 1em;
}
h3 {
	margin-bottom: 0;
	margin-right: 0.5em;
}

:host > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 1.3em;
}

input {
	width: 3.5em;
}

#add-language-button {
	// background-color: transparent;
	// color: oklch(var(--primary-50));
	// border-radius: 50%;
	// border: 1px solid oklch(var(--neutral-20));
	// border: 2px solid oklch(var(--primary-50));
	padding: 0.5em 1em 0.5em 0.7em;
	font-size: 0.7em;
	// box-shadow: none;
}

#weight-visualization-header {
	margin-top: 0.5em;
}

#back-button {
	align-self: center;
	margin-top: 0.5em;
}