:host {
	// width: 100%;
	// max-width: 40em;
	width: 25em;
	padding: 1em;
}
h2 {
	// width: 100%;
	margin-bottom: 0;
}
h3 {
	margin-bottom: 0;
	margin-right: 0.5em;
}

.content {
	gap: 1em;
}
.content > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

input {
	width: 3.5em;
}

hr {
	height: 1px;
	width: 100%;
	border: none;
	margin: 0;
	align-self: center;
	background-color: oklch(var(--outline-variant));
}

#add-language-button {
	// background-color: transparent;
	// color: oklch(var(--primary-50));
	// border-radius: 50%;
	// border: 1px solid oklch(var(--neutral-20));
	// border: 2px solid oklch(var(--primary-50));
	padding: 0.5em 1em 0.5em 0.7em;
	font-size: 0.65em;
	// box-shadow: none;
}
