<div class="header-bar">
	<h1>Options</h1>
	<button appRipple="primary" class="back-button material-symbols" routerLink="/learn">arrow_back</button>
</div>
<div class="content">
	<div>
		<h3>Language</h3>
	
		<app-dropdown #languageDropdown placeholder="Choose language" (selectionChange)="changeLanguage($event)">
			<app-dropdown-option *ngFor="let language of savedLanguages" [value]="language">
				{{language}}
			</app-dropdown-option>
		</app-dropdown>
		<button appRipple="on-primary" id="add-language-button" routerLink="/add-language">
			<span class="material-symbols">add</span>Add language
		</button>
	</div>
	<hr>
	<div>
		<h3>Success weight factor</h3>
		<input id="success-weight-factor-input" type="number" inputmode="numeric" [(ngModel)]="weightFactors.succeeded" (change)="setSuccessWeight()"/>
	</div>
	<div>
		<h3>Failure weight factor</h3>
		<input id="failure-weight-factor-input" type="number" [(ngModel)]="weightFactors.failed" (change)="setFailureWeight()">
	</div>
	<hr>
	<div>
		<h3>Skip correct feedback</h3>
	</div>
</div>

<!-- <button appRipple="primary-foreground" id="back-button" routerLink="/learn">Back</button> -->