@use '../../global';

:host {
	height: 100vh;
	display: flex;
	justify-content: center;
}
.content {
	align-self: center;
	height: fit-content;
}
#status-message {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
	white-space: pre;
}
#progress-bar {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	height: 100vh;
	width: 0vw;
	background-color: oklch(var(--primary) / 80%);
	transition: width 50ms global.$ease-in-out;
}
