:host {
	height: 100vh;
	display: flex;
	justify-content: center;
}
.content {
	align-self: center;
	height: fit-content;
}
#status-message {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
	white-space: pre;
}